#learn
{
    background-color: black;
    color: white;
    margin-top: 30px;
    margin-bottom: 80px;
}
#code
{   
    
    margin-left: 550px;
}
.learnt
{   
    margin-left: 100px;
    margin-right: 925px;

}
.play
{
    text-decoration-color: white;
    padding: 7px 40px 40px 7px;
    background-color: tomato;
}
