#learn
{
    background-image: linear-gradient(90deg, black,#010154, #160082);
    color: white;
    margin-top: 20px;
    margin-bottom: 80px;
}
#code
{   
    margin-top: 0px;
    margin-left: 800px;
}
.learnt
{   
    margin-left: 100px;
    margin-right: 925px;

}
#play
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    background-color: #A60000;
}
